/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #C02B2C;
    --secondary: #DC4149;
    --light: #ebebeb;
    --dark: #090909;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins';
}