/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #C02B2C;
    --secondary: #DC4149;
    --light: #ebebeb;
    --light-gray:   #e9e6e6;
    --dark: #090909;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins';
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}
.button {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.1rem solid var(--dark);
    border-radius: 0.2rem;
}

.container-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.container-text{
    text-align: left;
    padding: 0.5rem;
}

.flex-center{
    display: flex;
    justify-content: center;
}

mat-dialog-container{
    position: absolute !important;
    padding: 0.5rem;
}