<div class="container-text">
    <h1>Information</h1>
    <mat-dialog-content content>
        <h2>Index</h2>
        <p>Our application is divided into three sections:</p>
        <ul>
            <li>Visit map to see current data on your area.</li>
            <li>Learn advices and warning for fires.</li>
            <li>Report a fire.</li>
        </ul>
        <h2>Contact</h2>
        <p>Did you found an issue at the app or have any idea to improve it? Contact with us by <a href="#">email</a>.</p>
    </mat-dialog-content>
    <button class="button" mat-button mat-dialog-close>Close</button>
</div>