<div class="container-text">
    <h1>How to act in case of a fire</h1>
    <ul>
        <li>
            Stay Calm: The most important thing is to <strong>remain calm</strong>.
        </li>
        <li>
            Alert Others: If you discover a fire, immediately alert anyone in the vicinity to ensure they are aware of the danger. You can also report the fire on this app.
        </li>
        <li>
            Call for Help: Dial the emergency services number in your country (e.g., 911 in the United States) to report the fire. Provide them with your location and as much information as possible about the fire's size and location.
        </li>
        <li>
            Evacuate Safely: If the fire is small and contained, you may attempt to extinguish it using an appropriate fire extinguisher if you have been trained to do so. However, if the fire is spreading rapidly or you are unsure how to use a fire extinguisher, evacuate immediately.
        </li>
    </ul>
    <p>
        In a building, follow the <strong>"RACE"</strong>acronym:
    </p>
    <ul>
        <li>
            Rescue: If safe to do so, help those who need assistance, such as children, the elderly, or individuals with disabilities, to evacuate.
        </li>
        <li>
            Alarm: Activate the building's fire alarm system if available.        
        </li>
        <li>
            Confine: Close doors behind you as you leave to contain the fire's spread.
        </li>
        <li>
            Evacuate: Leave the building using the nearest safe exit. Do not use elevators during a fire.
        </li>
    </ul>
    <p>Some of the numbers to call in case of an emergency are:</p>
    <ul>
        <li>🇪🇺 Europe Union: 122</li>
        <li>🇺🇸 United States: 911</li>
        <li>🇨🇦 Canada: 911</li>
        <li>🇬🇧 United Kingdom: 999</li>
        <li>🇦🇺 Australia: 000</li>
    </ul>
</div>
