/*header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--light-gray);
}*/

header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
    box-shadow: 0 2px 5px rgba(192, 43, 44, 0.3); /* Light shadow */
    margin-bottom: 20px;
}

.header-logo {
    width: 40px;
    height: auto;
    margin: 20px;
}

header a {
    text-decoration: none;
    color: var(--dark);
}

.title{
    font-size: larger;
    font-weight: 600;
}

/*.button-help {
    padding: 8px 16px;
    border-radius: 4px;
}*/

/*.button-help {
    align-items: center;
    width: 20%;
}*/

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  .button-help {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .button-help img {
    width: 50px; /* Adjust image width as needed */
    height: auto;
    margin: auto;
    padding-right: 15px;
  }
  
  
  
  
  