.container-card{
    color: white;
    background-color: var(--primary);
    
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    
    border-radius: 5px;
    
    width: 10rem;
    height: 10rem;
}

.container-card:hover{
    background-color: var(--secondary);
}
.container-card a{
    color: white;
}