/*img {
    width: 100%;
    margin: auto;
}

.map-menu {
    margin: auto;
    width: 100%;
}

.map-menu-types {
    display: flex;
    width: 100%;
}

.map-menu-view {
    display: flex;
    width: 100%;
}

.button-map-menu-types{
    background-color: var(--primary);
    color: white;
}

.button-map-menu-types:hover{
    background-color: var(--secondary);
}

.button-map-menu-view{
    background-color: var(--ligt);
}

.button-map-menu-view:hover{
    background-color: var(--light-gray);
}*/

img {
    width: 100%;
}

body {
    width:100%;
}
.home-map-component {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make the component expand to the full viewport height */
  }
  
  .map-menu {
    justify-content: space-between;
    align-items: center;
  }
  
  .map-menu-types, .map-menu-view {
    display: flex;
    margin: 10px 0px;
  }
  
  .map-menu-view-button {
    width: 100%;
    align-content: center;
  }

  .button-map-menu-view {
    width:100%;
    margin: auto;
  }

  .map-menu-types-inactive, .map-menu-types-activity {
    width: 70%;
    align-content: center;
  }

  .map-menu-types-risk {
    width: 30%;
    align-content: center;
  }

  .button-map-menu-types {
    width: 100%;
  }
  
  .map-menu-types, .button-map-menu-types {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button-map-menu-types:hover {
    background-color: var(--secondary);
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 5%; /* Make the button round */
  }
  
  .map-menu-view {
    display: flex;
  }
  
  .map-menu-view, .button-map-menu-view {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button-map-menu-view:hover {
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 5%; /* Make the button round */
  }
  
  
  .map-info {
    padding: 10px;
}

.map-info p {
    text-align: justify;
  }
  
  /*IMG*/
    .map-img img {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3%; /* Make the button round */
    }
      
      .smaller-image {
        max-width: 90%; /* Adjust the maximum width to make it smaller */
        height: auto;
      }
      
      .with-shadow {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); /* Add a subtle shadow */
      }
      
  
  /* Add your other CSS styles if needed */
  