body {
    width:100%;
}
.home-map-component {
    display: flex;
    flex-direction: column;
    height: auto; /* Make the component expand to the full viewport height */
  }
  
  .map-menu {
    justify-content: space-between;
    align-items: center;
  }
  
  .map-menu-types, .map-menu-view {
    display: flex;
    margin: 10px 0px;
  }
  
  .map-menu-view-button {
    width: 100%;
    align-content: center;
  }

  .button-map-menu-view {
    width:100%;
    margin: auto;
  }

  .map-menu-types-button {
    /*width: 70%;*/
    align-content: center;
    width: calc(100% / 3);
  }

  .button-map-menu-types {
    width: 100%;
    
  }
  
  .map-menu-types, .button-map-menu-types {
    background-color: var(--primary);
    color: white;
    align-items: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button-map-menu-types:hover {
    background-color: #c43636;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    border-radius: 5%; /* Make the button round */
  }
  
  .map-menu-view {
    display: flex;
  }
  
  .map-menu-view, .button-map-menu-view {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button-map-menu-view:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    border-radius: 5%; /* Make the button round */
  }
  
  
  .map-info {
    padding: 10px;
}

.map-info p {
    text-align: justify;
  }
  
  /*IMG*/
    .map-img img {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3%; /* Make the button round */
    }
      
      .smaller-image {
        max-width: 90%; /* Adjust the maximum width to make it smaller */
        height: auto;
      }
      
      .with-shadow {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); /* Add a subtle shadow */
      }
      
  
  /* NEWS BOXES */
  .news-component {
    justify-content: space-between;
    width: 95%;
    align-items: center;
    margin: 10px;
  }
  
  .news-component-box {
    justify-content: space-between;
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 100%; 
    box-sizing: border-box;
  }


  .news-component-info-title {
    font-weight: bold;
    font-size: 20px; 
  }
  
  .news-component-info-location {
    color: #666;
    font-size: 12px;
  }
  
  .news-component-info-aware {
    color: red;
    font-size: 15px;
  }
  
  .news-component-time {
    display: flex;
    margin: auto;
    text-align: right;
    align-items: center;
    font-size: 12px;
    height: 100%;
  }

    
    .country-flag img {
        width: 30px;
        margin: auto;
        max-width: 100%; 
        max-height: 100%; 
  }

  .news-component-box, .news-component-box {
    margin-top: 10px;
  }

  .news-component-info {
    width: 60%;
  }

  .country-flag {
    display: flex;
    margin: auto;
    width: 20%;
  }
  