<div class="container-home">
    <h1>Help the world by preventing fires</h1>
    <p>Forest fires pose a significant threat to our natural ecosystems, wildlife, and communities. They are often devastating and can have far-reaching ecological, economic, and social consequences. However, many forest fires are preventable with the right knowledge and responsible actions. In this article, we will explore the importance of fire prevention, the key factors that contribute to forest fires, and practical steps we can take to reduce the risk.</p>
    <ul>
        <li>Pay special attention to the regulations on fire prevention and authorized periods for stubble burning.</li>
        <li>Avoid throwing cigarettes, garbage and, especially, glass bottles that make a magnifying glass effect with the sun. Negligence is the main cause of forest fires.</li>
        <li>It is forbidden to light fires or bonfires in the forest and nearby lands.</li>
        <li>Camp only in authorized areas, since these have protection measures against a possible fire and it is easier to evacuate.</li>
    </ul>
</div>
