<div class="container-text">
    <h1>Fire Factors</h1>
    <p>Fire is a complex phenomenon influenced by various factors that determine its behavior, intensity, and spread. Understanding these factors is essential for fire management, safety, and prevention. Some key factors that influence fires are:</p>
    <ul>
        <li>
            <p>
                <strong>Fuel</strong>: It can be divided into several categories like live vegetation (e.g., grass, trees, shrubs), dead vegetation (e.g., leaves, fallen branches, logs) and human-made materials (e.g., buildings, vehicles, fuel sources). The type and quantity of fuel can significantly impact fire behavior.
            </p>
        </li>
    
    <li>
        <p>
            <strong>Weather</strong>: high temperatures, low humidity  and wind can spread fires quickly and change their direction. Weather is not always a disadvantaje, sometimes it benefits by precipitation and conditions for firefighters to extinguish the fire.
        </p>

    </li>
    <li>
        <p>
            <strong>Topography</strong>: The terrain or topography of an area affects how fires spread.
        </p>
    </li>
    

    
    </ul>
</div>
