.container-pop-up{
    height: 85%;
    width: 85%;
    
    display: flex;
    flex-direction: column;
    border: 3px solid var(--light-gray);
    border-radius: 0.2rem;
}

.warning-text{
    text-align: center;
}

.button-cancel{
    background-color: var(--ligt);
}

.button-cancel:hover{
    background-color: var(--light-gray);
}

.button-accept{
    background-color: var(--primary);
    color: white;
}

.button-accept:hover{
    background-color: var(--secondary);
}